*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/*---------------------header---------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_head {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.logo_color_head {
  color: #2e2f42;
}
.nav_list {
  display: none;
  gap: 40px;
}
.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.menu_nav {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line_studio {
  position: relative;
  color: #404bbf;
}
.line_studio::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}
.menu_nav:hover {
  color: #404bbf;
}
.menu_nav:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts_block {
  display: none;
}
.contacts_link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_link:hover {
  color: #404bbf;
}
.contacts_link:focus {
  color: #404bbf;
}
.menu_open_btn {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  line-height: 0;
}
/*---------------------mob menu---------------------*/
.mob_menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  position: none;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_close_btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob_nav_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob_menu_nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob_menu_nav:hover,
.mob_menu_nav:focus {
  color: #404bbf;
}
.mob_contacts {
  font-style: normal;
}
.mob_contacts_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mob_contacts_link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob_contacts_link:hover,
.mob_contacts_link:focus {
  color: #404bbf;
}
.mob_media {
  display: flex;
  gap: 40px;
}
.mob_list {
}
.mob_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------section1---------------------*/
.order_block {
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-x2.jpg);
  }
}

.order_block_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 216px;
}
.order_block_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order_block_button:hover {
  background-color: #404bbf;
}
.order_block_button:focus {
  background-color: #404bbf;
}
/*---------------------section2---------------------*/
.qualities_block {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.qualities_block_list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.qualities_icons_container {
  display: none;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.qualities_block_name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.qualities_block_description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*---------------------section3---------------------*/
.team_block {
  padding: 96px 0;
}
.team_block {
  background-color: #f4f4fd;
}
.team_block_head {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team_block_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.team_group {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team_img {
  margin: 0 auto;
}
.team_name_container {
  padding: 32px 0;
}
.team_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team_title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}
.team_social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team_social_links .team_icons_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_social_links .team_icons_link:hover {
  background-color: #404bbf;
}
.team_social_links .team_icons_link:focus {
  background-color: #404bbf;
}
/*---------------------section4---------------------*/
.portfolio_block {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}
.portfolio_block_head {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio_block_list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  gap: 48px;
}
.portfolio_block_group {
  /* width: calc((100% - 4 * 24) / 6); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_block_img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.portfolio_cover {
  position: relative;
  overflow: hidden;
}
.portfolio_description {
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_block_group:hover .portfolio_description {
  transform: translateY(0);
}
.portfolio_block_group:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.list_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio_block_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio_block_description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*---------------------footer---------------------*/
.footer {
  background: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding: 96px 0;
}
.footer_container {
  display: flex;
  /* align-items: baseline;
  justify-content: flex-start; */
  flex-direction: column;
}
.footer_box {
  /* margin-right: 120px; */
  margin-bottom: 72px;
}
.logo-end {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo_color_end {
  color: #f4f4fd;
}
.tagline {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer_media_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_link:hover {
  background-color: #31d0aa;
}
.footer_link:focus {
  background-color: #31d0aa;
}
.footer_form_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}
.form_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.footer_input {
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 0.6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer_input::placeholder {
  color: #ffffff;
}
.footer_form_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
}
.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/*---------------------modal---------------------*/
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  /* width: 408px; */
  /* min-height: 584px; */
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 72px 24px 24px; */
  padding: 72px 16px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn:hover,
.modal_close_btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal_close_btn:hover > .modal_close_icon,
.modal_close_btn:focus > .modal_close_icon {
  fill: #ffffff;
}
.modal_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form_field {
  margin-bottom: 8px;
}
.form_label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form_label_wrap {
  position: relative;
}
.form_input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:focus {
  border-color: #4d5ae5;
}
.form_input:focus + .form_icons {
  fill: #4d5ae5;
}
.form_icons {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_field_text {
  margin-bottom: 16px;
}
.form_text_input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_text_input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form_text_input:focus {
  border-color: #4d5ae5;
}
.form_field_checkbox {
  margin-bottom: 24px;
}
.modal_form_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_label_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}
.form_label_span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_checkbox_input:checked + .form_label_checkbox > .form_label_span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal_link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}
.text_span {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

/* 768 */
@media screen and (min-width: 768px) {
  /*---------------------header---------------------*/
  .container {
    width: 768px;
  }
  .header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .logo_head {
    margin-right: 120px;
  }
  .menu_open_btn {
    display: none;
  }
  .nav_list {
    display: flex;
  }
  .contacts_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts_link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*---------------------section1---------------------*/
  .order_block {
    padding: 122px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-x2.jpg);
    }
  }
  .order_block_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  /*---------------------section2---------------------*/
  .qualities_block_list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .qualities_block_group {
    width: calc((100% - 24px) / 2);
  }
  .qualities_block_name {
    text-align: left;
  }

  /*---------------------section3---------------------*/
  .portfolio_block {
    padding: 97px 0;
  }
  .team_block_list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
  }
  .team_group {
    width: calc((100% - 24) / 2);
  }

  /*---------------------section4---------------------*/
  .portfolio_block_list {
    gap: 72px 24px;
  }
  .portfolio_block_group {
    width: calc((100% - 24) / 2);
    width: 356px;
    height: 420px;
  }

  /*---------------------footer---------------------*/
  .footer {
    padding: 96px 0;
  }
  .footer_container {
    width: 584px;
  }
  .first_footer_box {
    display: flex;
    gap: 24px;
  }
  .logo-end {
    justify-content: left;
  }
  .footer_text {
    margin-right: auto;
  }
  .footer_form_box {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 453px;
    justify-content: left;
    margin-left: 0;
  }
  .footer_form {
    flex-direction: row;
    gap: 24px;
  }
  .footer_input {
    width: 264px;
  }

  /*---------------------modal---------------------*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

/* 1158 */
@media screen and (min-width: 1158px) {
  /*---------------------header---------------------*/
  .container {
    width: 1158px;
    padding: 0 15px;
  }
  .logo_head {
    margin-right: 76px;
  }
  .contacts_block {
    flex-direction: row;
    gap: 40px;
  }
  .contacts_link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*---------------------section1---------------------*/
  .order_block {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .banner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x2.jpg);
    }
  }
  .order_block_title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }

  /*---------------------section2---------------------*/
  .qualities_block {
    padding: 120px 0;
  }
  .qualities_block_list {
    gap: 24px;
  }
  .qualities_block_group {
    width: calc((100% - 3 * 24px) / 4);
  }
  .qualities_icons_container {
    display: flex;
  }
  .qualities_block_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .qualities_block_name {
    text-align: left;
  }

  /*---------------------section3---------------------*/
  .team_block {
    padding: 120px 0;
  }
  .team_block_list {
    flex-direction: row;
    gap: 24px;
  }
  .team_group {
    width: calc((100% - 3 * 24) / 4);
  }

  /*---------------------section4---------------------*/
  .portfolio_block {
    padding: 120px 0;
  }
  .portfolio_block_list {
    gap: 48px 24px;
  }
  .portfolio_block_group {
    width: calc((100% - 4 * 24) / 6);
    width: 360px;
    height: 420px;
  }

  /*---------------------footer---------------------*/
  .footer {
    padding: 100px 0;
  }
  .footer_container {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
  }
  .footer_box {
    margin-right: 120px;
  }
  .logo-end {
    display: inline-block;
  }
  .footer_media_box {
    display: block;
  }
  .footer_form_box {
    display: block;
    margin-left: auto;
  }
  .footer_input {
    opacity: inherit;
  }
}
